@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
   margin-top: 5%;
   font-family: 'Poppins', sans-serif;
}

.image {
    width: 90%;
    margin: 0 0 39% 0;
}

.container p {
    color: white;
    font-size: medium;
}

.left, .right {
    width: 42%;
    display: inline-block;
}

.left {
    margin-left: 7%;
}

.right {
    margin: 0 0 2% 0%;
}

.contacts h1 {
    color:white;
}

@media only screen and (max-width: 600px) {  
    .left, .right {
        width: 90%;
    }

    .contacts {
        display: none;
    }

    .right {
        text-align: center;
        margin: -35% 0 8% 3%;
    }

    .image {
        width: 95%;
    }
}