.container img {
    position: absolute;
    top: -42%;
    width: 100%;
}

.info {
    background-color: white;
    padding: 30px 60px;
    position: absolute;
    top: 20%;
    left: 15%;
    border: 1px solid black;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    
    .container img {
        position: relative;
    }

    .info {
        top: 50%;
        left: 10%;
    }
    
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    
    .container img {
        position: relative;
    }

    .info {
        top: 65%;
        left: 30%;
    }
}