.container {
    min-height: 100vh;
    background: url('../../static/main-bg.jpg') no-repeat center;
    background-size: cover;
    margin-top: 5.5%;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 20%;
    }
}