.player iframe {
    width: 250px;
    height: 300px;
    margin: 1% 0 0 1%;
}

@media only screen and (max-width: 600px) {
    .player iframe {
        position: absolute;
        margin-top: 10%;
        left: 15%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .player iframe {
        position: absolute;
        margin-top: 12%;
    }
}