@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 12%;
    width: 100%;
    background-color: black;
}

.header, .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header img {
    width: 200px;
    margin-left: 20%;
}

.links {
    margin-left: 4%;
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: white;
    margin: auto 5px auto 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.links a:hover {
    color: red;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 12%;
    }

    .header img {
        width: 120px;
        margin-left: 10%;
    }

    .links {
        margin-left: 3%;
    }
}