@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 12%;
    width: 100%;
    background-color: black; 
}

.header, .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header img {
    width: 200px;
    margin-left: 20%;
}

.links {
    margin-left: 4%;
}

.links a {
    font-family: 'Concert One', cursive;
    font-size: larger;
    color: white;
    margin: auto 5px auto 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.links a:hover {
    color: red;
}