.spotifyInfo img {
    width: 30%;
    margin-left: 9.8%;
}

.spotifyIntro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
}

.artists {
    margin-right: auto;
}

.wrapped {
    margin-right: 15%;
}

.spotifyInfo h1, .stats span {
    color: #dfff80;
}

.stats {
    margin-top: 8%;
    width: 45%;
    float: right;
}

.titles, .numbers {
    display: flex;
}

.stats span {
    font-size: 2.1rem;
    margin: 0 3% 0 2%;
}

.stats h2 {
    margin: 0 1% 0 2%;
    color: #cc0066;
}

@media only screen and (max-width: 600px) {
    .spotifyInfo img {
       display: none;
       width: 0;
       margin: 0;
    }

    .stats {
        padding: 0 0 15% 0;
        width: 100%;
    }

    .stats h2 {
        margin-left: 19px;
        font-size: 14px;
    }

    .stats span {
        margin-left: 19px;
        font-size: 20px;
    }

    .spotifyIntro {
        width: 80%;
    }

    .artists, .wrapped {
        font-size: 16px;
    }

    .artists {
        margin-left: -16px;
    }

    .wrapped {
        margin-right: -11px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .stats {
        padding: 0 0 15% 0;
        width: 50%;
    }

    .stats h2 {
        font-size: 16px;
    }

    .stats span {
        font-size: 23px;
    }

    .spotifyIntro {
        width: 80%;
    }

    .artists, .wrapped {
        font-size: 20px;
    }
}