.container {
    margin: 7% 0 2% 14.5%;
    width: 85%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 20% 0 10% 5%;
        width: 95%;
    }
    
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .container {
        margin: 18% 0 0 5%;
        width: 95%;
    }
    
}